{% extends "base.html" %}
{% block content %}
    {{ order.name }} >>
    {% for items in order.items.all %}
      {{ items.item_name }},
    {% endfor %}
    <br>
    >> {{ order.details }} <br> <br>
    <form class="" action="{% url 'complete_form_view' order.pk %}" method="post">
      {% csrf_token %}
      Order Completed? {{ form.order_Completed }} <br> <br>
      Table Paid? {{ form.table_Paid }}
      <br> <br> <br>
      <input class="cook_button" type="submit" name="name" value="Update">
      <br> <br>


    </form>
{% endblock %}
